{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-11 col-md-4 mx-auto mt-5">
            <h1>Ingresa</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
            <button class="btn btn-secondary" type="submit">Ingresa</button>
            </form>
            <div class="pt-3">
                <small class="text-muted">No tienes una cuenta? <a href="{% url 'registro' %}" class="ml-2">Registrate</a></small>
            </div>
        </div>
    </div>
{% endblock content %}